parametersSchema:
    unused_classes: structure([
        classes: bool()
        traits: bool()
        excludePaths: array()
    ])

# default parameters
parameters:
    unused_classes:
        classes: true
        traits: true
        excludePaths: []

services:
    -
        factory: Xact\PHPStan\Configuration
        arguments:
            - %unused_classes%

    # collectors
    -
        class: Xact\PHPStan\Collectors\ClassUseCollector
        tags:
            - phpstan.collector
    -
        class: Xact\PHPStan\Collectors\ClassGroupUseCollector
        tags:
            - phpstan.collector
    -
        class: Xact\PHPStan\Collectors\DeclareClassCollector
        tags:
            - phpstan.collector

rules:
    - Xact\PHPStan\Rules\UnusedClassRule
    - Xact\PHPStan\Rules\UnusedTraitRule
